.table {
    width: 80%;
    border-collapse: collapse;
}

.table th, .table td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd
}
.table th {
    font-weight: bold;

  }
a {
    padding-left: 50px;
    text-align: center;
}